.defaultBackground {
  width: 155px;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fbbc05;
  border-radius: 30px;
  border: none;
}

.defaultFont {
  font-weight: 250px;
  font-size: 40px;
  font-family: Keania One;
  color: #fff;
}

.navbarBackground {
  width: 270px;
  background-color: #fb4f05;
}

.mainBackground {
  width: 1146px;
  height: 80px;
  justify-content: space-around;
}

.easy {
  background-color: #fbbc05;
}

.medium {
  background-color: #fb4f05;
}

.hard {
  background-color: #fb0505;
}
