body {
  box-sizing: content-box;
  margin: 0;
  background-color: #000;
  font-family: Keania One;
}

.flex-nav {
  flex-direction: row;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 120px;
  gap: 128px;
}
