.form-button {
    align-self: center;
    background-color: white;
    color: black;
    width: 216px;
    height: 50px;
    font-weight:900;
    font-family: Inter;
    font-size: 24px;
    border-radius: 10px;
    border-color: black;
    border: none;
    margin: 10px;
}

.form-button:hover {
    background-color: #acacac;
    color: rgb(0, 0, 0);
  }
