.workoutBody {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 20px; /* Adjust padding to create left and right margins */
    justify-items: center; /* Centers items horizontally within each cell */
    align-items: center; /* Centers items vertically within each cell */
    margin-left: 150px;
    margin-right: 150px;

  }