<!-- public/index.html -->
<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FitQuest</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Keania+One&display=swap"
      rel="stylesheet"
    />
    <link 
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" 
      rel="stylesheet"
    />
    <link
      href="{% static "css/base.css" %}%}"
      rel="stylesheet"
    />
  </head>
  {% if form.errors %}
      {% for field in form %}

           {% for error in field.errors %}
            <p>
              {{field.label}}: {{ error|escape }}
            </p>
           {% endfor %}

      {% endfor %}
  {% endif %}
  <body>
    <div id="root"></div>
  </body>
  <script>
    
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');
  </script>
  <script src="{% static 'js/main.js' %}"></script>
</html>
