/* Popup.css */
.PopUp {
    position: fixed;
    left: 50%;
    width: 200px;
    height: 50px;
    transform: translateX(-50%);
    background-color: #e74c3c;
    color: rgb(255, 255, 255);
    border: 0.5px solid #fb0505;
    border-radius: 5px;
    z-index: 10;
    align-content: center;
    font-family: Keania One;
    text-align: center;
    vertical-align: middle;

    /* New properties for animation */
    top: -60px; /* Start above the viewport */
    opacity: 0;
    transition: top 0.75s ease-out, opacity 0.75s ease-out;
}

.PopUp.show {
    top: 7.5%; /* Final position */
    opacity: 1;
}

.PopUp.hide {
    top: -60px;
    opacity: 0;
}