.questBody {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.contentComponent {
  justify-content: space-between;
}

.contentComponent:nth-child(2) {
  background-color: #ffdb6e;
}

.contentComponent:nth-child(3) {
  background-color: #ffdb6e;
}

.componentFont {
  text-align: start;
  padding-left: 5%;
}

.componentValue {
  padding-right: 5%;
}
