.questBody{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.contentComponent{
    justify-content: space-between;
}

.contentComponent:nth-child(2){
   background-color: #FB4F05;
}

.contentComponent:nth-child(3){
    background-color: #FB0505;
 }
 


.componentFont{
    text-align: start;
    padding-left: 5%;
}

.componentValue{
    padding-right: 5%;
}